@import url("https://fonts.googleapis.com/css?family=Bellota+Text:400,400i,700,700i&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: lightcyan;
  font-family: "Bellota Text", cursive;
}
.posts-header > h2 {
  margin-left: 1em;
  margin-top: 2em;
}
.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
}
.post-section {
  margin: 1em 1em;
  background: white;
  box-shadow: lightgrey 2px 2px;
}

.post-title__icon {
  display: inline-block;
  width: 10%;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 1em;
}
.post-title__subtitle {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  padding-left: 1em;
  font-weight: bold;
}
.post-image {
  display: inline-block;
  width: 40%;
  vertical-align: auto;
}
.post-description {
  display: inline-block;
  width: 50%;
  margin-left: 1em;
}
.fas {
  margin-top: 1em;
  margin-left: 1em;
  color: rgb(71, 71, 71);
}

.fa-thumbs-down {
  margin-left: 0.5em;
}
.fas > span {
  margin-left: 0.5em;
  font-family: "Bellota Text", cursive;
}
